.wrapper {
    width: 100%;
    min-width: 900px;
    min-height: 100%;
}

.custom-alert{
    display: inline-block;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
}

/* Header
-----------------------------------------------------------------------------*/
.navbar {
    margin-bottom: 0;
}

.btn-head {
    position: absolute;
    top: 0;
}

.btn-logout {
    right: 100px;
}

.btn-my-page {
    right: 20px;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    position: relative;
}

.container {
    overflow: hidden;
    padding: 15px 15px 15px 10px;
    margin: 0;
    width: auto;
    min-width: 600px;
}

.content {
    min-height: 500px;
}

.form-group {
    margin: 0;
}

.table>tbody>.custom-tr>td {
    padding: 5px;
}

.table>tbody>tr>.custom-td{
    padding: 0;
}

.well{
    margin: 0;
    padding: 5px;
    border-radius: 0;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    width: 200px;
    float: left;
    padding: 15px 10px 15px 15px;
}


/* Footer
-----------------------------------------------------------------------------*/
